@model List<OurTeam>
<section class="welcome">
    <div class="container">
        <div class="welcome-content">
            <div class="row">
                <div class="col-12">
                    <h3>Welcome To Our Studio!</h3>
                    <h1 class="welcome-h1">IT'S NICE TO MEET YOU</h1>
                    <button class="welcome-button rounded">TELL ME MORE</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="portfolio">
  <div class="container">
    <div class="portfolio-content">
      <div class="row g-3">
        <div class="col-12">
          <h3 id="portfolio-h3">OUR PORTFOLIO</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
        <div class="portfolio-images">
          <div class="row g-3 align-items-center">
            <div class="col-4">
              <img src="images/2.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="images/3.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="images/4.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="images/5.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="images/6.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="images/7.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="services">
    <div class="container">
        <div class="services-content">
            <h1>Services</h1>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="icon-color">
                        <i class="bi bi-cart"></i>
                    </div>
                    <p class="mt-3">E-Commerce</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                        maxime quam architecto quo inventore harum ex magni, dicta
                        impedit.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <i class="bi bi-phone"></i>
                    <p class="mt-3">Auto-Mobiles</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                        maxime quam architecto quo inventore harum ex magni, dicta
                        impedit.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <i class="bi bi-windows"></i>
                    <p class="mt-3">Windows</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                        maxime quam architecto quo inventore harum ex magni, dicta
                        impedit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="about-content">
            <div class="col-12">
                <h1>ABOUT</h1>
                <p><i>Lorem ipsum dolor sit amet consectetur.</i></p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="img-content">
                        <span>2010-2012</span>
                        <span>Our Humble Beginnings</span>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente, totam reiciendis temporibus
                            qui quibusdam, recusandae sit vero unde, sed, incidunt et ea
                            quo dolore laudantium consectetur!
                        </span>
                    </div>
                    <img src="images/8.jpg" alt="" />
                </div>

                <div class="col-12">
                    <div class="img-content">
                        <span>2010-2012</span>
                        <span>Our Humble Beginnings</span>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente, totam reiciendis temporibus
                            qui quibusdam, recusandae sit vero unde, sed, incidunt et ea
                            quo dolore laudantium consectetur!
                        </span>
                    </div>
                    <img src="images/10.jpg" alt="" />
                </div>
                <div class="col-12">
                    <img src="images/11.jpg" alt="" />
                    <div class="img-content">
                        <span>2010-2012</span>
                        <span>Our Humble Beginnings</span>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Sunt ut voluptatum eius sapiente, totam reiciendis temporibus
                            qui quibusdam, recusandae sit vero unde, sed, incidunt et ea
                            quo dolore laudantium consectetur!
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="about-final">
                        <div class="about-final-content0">
                            <p class="about-final-content">BE PART OF OUR WORK</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <div class="team-content">
            <div class="row">
                <div class="col-12">
                    <h3>OUR TEAM</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                    </p>
                </div>
                <div class="col-lg-4  col-sm-12">
                    <img src="images/12.jpg" alt="" />
                    <p>Easton Garland</p>
                    <p>Team Leader</p>
                    <a href="#">
                        <i class="bi bi-twitter team-bi"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-facebook team-bi"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-linkedin team-bi"></i>
                    </a>
                </div>
                <div class="col-lg-4   col-sm-12">
                    <img src="images/13.jpg" alt="" />
                    <p>Ellis Smith</p>
                    <p>Lead Developer</p>
                    <a href="#">
                        <i class="bi bi-twitter team-bi"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-facebook team-bi"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-linkedin team-bi"></i>
                    </a>
                </div>
                <div class="col-lg-4   col-sm-12">
                    <img src="images/14.jpg" alt="" />
                    <p>Spring Ross</p>
                    <p>Lead Designer</p>
                    <a href="#">
                        <i class="bi bi-twitter team-bi"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-facebook team-bi"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-linkedin team-bi"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>